body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li:hover a {
    color: #0099c3;
}

.submenu {
    display: none;
    position: absolute;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    z-index: 100;
}

nav ul li:hover .submenu {
    display: block;
}

.btn-cita {
    background: black;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-cita:hover {
    background: #0099c3;
}

/* 🔹 SECCIÓN DE IMAGEN EN GRANDE */
.hero {
    position: relative;
    width: 100%;
    height: 60vh; /* Ocupará el alto completo de la pantalla */
    background: url('banner.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.181); /* Oscurece un poco la imagen para mejorar la lectura */
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}

.Quienessomos {
    padding: 1px 1px;
    margin-bottom: 70px;
    margin: 50px 50px;
    font-size: 1.3rem;
}

.contenido {
    max-width: 1000px;
    margin: 0 auto;
}

.contenido1 h1 {
    font-size: 60px;
    text-align: left;
    margin-bottom: 40px;
}

.contenido-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    color: #555;
}

.contenido1parrafo p {
    font-size: 1.5rem;
}

.contenido1imagen img {
    max-width: auto;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .contenido-flex {
        flex-direction: column;
        text-align: center;
    }

    .contenido1parrafo {
        max-width: 100%;
    }

    .contenido1imagen img {
        max-width: 80%;
    }
}





.profesionales {
    padding: 0px 5%;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    font-size: 1.3rem;
}

.equipodetrabajo {
    margin: 5px;
}

.contenido-flex1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    margin-bottom: 60px;
}

.contenido1parrafo1 p {
    font-size: 1.3rem;
    color: #555;  
      
}

.contenido1imagen1 img {
    max-width: auto;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
}




.contenido-flex2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.contenido2parrafo {
    font-size: 1.3rem;
    max-width: 100%;
    text-align: justify;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    color: #555;
}

.contenido2imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contenido2imagen img {
    width: 125%;
    max-width: auto; /* Ajusta el ancho máximo según necesites */
    height: auto;
    display: block;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.equipodetrabajo h1 {
text-align: center;
font-size: 47px;
margin-bottom: 35px;
}



/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .contenido-flex2 {
        flex-direction: column;
        text-align: center;
    }

    .contenido2parrafo {
        max-width: 100%;
    }

    .contenido2imagen img {
        max-width: 80%;
    }
}


.contenido3 {
    max-width: 1000px;
    margin: 0 auto;
}

.contenido3 h1 {
    font-size: 60px;
    text-align: left;
    margin-bottom: 40px;
}

.contenido-flex3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}

.contenido1parrafo {
    font-size: 25px;

}

.contenido1imagen img {
    max-width: auto;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .contenido-flex3 {
        flex-direction: column;
        text-align: center;
    }

    .contenido1parrafo3 {
        max-width: 100%;
    }

    .contenido3imagen img {
        max-width: 80%;
    }
}

.Quienessomos3 {
    padding: 1px 1px;
    margin-bottom: 70px;
    margin: 0px 50px;
    font-size: 25px;
}

.contenidos {
    max-width: 1000px;
    margin: 0 auto;
}

.contenido3 h1 {
    font-size: 60px;
    text-align: left;
    margin-bottom: 0px;
}

.contenido-flex3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 35px;
    margin-bottom: 65px;
}

.contenido3parrafo h1 {
    font-size: 50px;
    color: #000000;
}

.contenido3parrafo {
    font-size: 1.3rem;
    color: #555;

}

.contenido3imagen img {
    max-width: auto;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
    margin-right: 10px;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .contenido-flex3 {
        flex-direction: column;
        text-align: center;
    }

    .contenido3parrafo {
        max-width: 100%;
    }

    .contenido3imagen img {
        max-width: 80%;
    }
}

.bodymisionyvision {
    margin-bottom: 70px;
}


/* Aseguramos que ambos cuadros tengan el mismo tamaño y centrado */
.equal-box {
    margin: 20px; /* Mismo margen en ambos cuadros */
    text-align: center; /* Centra los textos */
}

.equal-box h2 {
    font-size: 2rem; /* Tamaño de texto consistente para los títulos */
    margin-bottom: 5px; /* Espacio entre el título y el texto */
}

.equal-box p {
    font-size: 1.3rem; /* Tamaño de texto uniforme en los párrafos */
    line-height: 1.6; /* Mayor espacio entre líneas para facilitar la lectura */
    color: #555; /* Color más suave para el texto */
    margin-bottom: 0; /* Eliminamos el margen adicional en la parte inferior */
}

/* Añadimos una pequeña sombra y bordes redondeados para los cuadros */
.equal-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco */
    padding: 20px; /* Relleno interno de los cuadros */
}

.mision-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto 15px auto;
    display: block;
    border-radius: 8px;

}



.testimonios-section {
    background-color: #ffffff;
    padding: 50px 0;
}

.testimonial-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
}

.testimonial-box .testimonial-img {
    width: 500px;
    height: 350px;
    border-radius: 0%;
    object-fit: cover;
    margin-right: 20px;
}

.testimonial-box .testimonial-text {
    flex-grow: 1;
}

.testimonial-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.testimonial-text p {
    font-size: 1.3rem;
    color: #555;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .testimonial-box {
        padding: 15px;
    }

    .testimonial-box .testimonial-img {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }

    .testimonial-box .testimonial-text {
        text-align: justify;
    }
}








/* Contact Section */
.contact {
    padding: 50px 0;
}

.contact .form-group {
    margin-bottom: 20px;
}

.contact .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
